<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovimientoEstudiantil</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovimientoEstudiantil.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/estudiantes.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/graficos.css" />
</head>
<body>
    <header id="headerGlobal">
        
    </header>
    
    <div class="container" style="flex: 1;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footerGlobal">
        
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/headerFooter.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
